{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}
    
    <!--welcome area start-->
    <div class="welcome-area v2 wow fadeInUp" id="home">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
              
                
                
                   {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}


            <form action="" method="post">
                  {% csrf_token %}
                <div class="row">

                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="input" name="username" placeholder="User name">
<div class="space-20"></div>
                        <input type="password" class="input" name="password" placeholder="Password">
                    </div>



                    </div>
          
            </form> 
                 <div class="space-20"></div>
                        <a href="#" class="gradient-btn v2">Send message</a>
            
                
     
            </div>
        </div>
    </div>
    <!--welcome area end-->






        
{% endblock %}